#Problem arises while installing cartopy. It's an absolute mess. The correct use is to directly download the wheels of cartopy, and not by pip install cartopy/conda install cartopy
#2-3 of these libraries are not available in pip, I used conda to download them and it worked. IIRC, the global-land-mask is one such case.
#Not all of these libraries were required for my work, for example, I didn't need to use scrapping libs like beautifulsoup4.
absl-py                       1.2.0
aiofiles                      23.2.1
aiohttp                       3.8.5
aiosignal                     1.3.1
alabaster                     0.7.12
altair                        4.2.0
ansicon                       1.89.0
anyio                         3.7.1
appdirs                       1.4.4
argon2-cffi                   21.3.0
argon2-cffi-bindings          21.2.0
astor                         0.8.1
astropy                       5.1
astroquery                    0.4.6
astunparse                    1.6.3
async-timeout                 4.0.3
attrs                         21.4.0
Automat                       20.2.0
Babel                         2.10.3
backcall                      0.2.0
basemap-data                  1.3.2
beautifulsoup4                4.11.1
black                         22.3.0
bleach                        4.1.0
blessed                       1.20.0
blinker                       1.5
bokeh                         3.2.2
bqplot                        0.12.36
branca                        0.6.0
cachetools                    5.2.0
Cartopy                       0.20.2
certifi                       2022.6.15
cffi                          1.15.0
chardet                       3.0.4
charset-normalizer            2.1.0
chemistry                     0.0
click                         8.1.3
click-default-group           1.2.4
cloudpickle                   2.2.1
cloup                         0.13.1
colorama                      0.4.4
colorcet                      3.0.1
colour                        0.1.5
commonmark                    0.9.1
constantly                    15.1.0
contourpy                     1.0.5
Counter                       1.0.0
cryptography                  38.0.1
cssselect                     1.1.0
cycler                        0.11.0
Cython                        0.29.32
dask                          2023.9.2
datasets                      2.14.5
datashader                    0.15.2
datashape                     0.5.2
debugpy                       1.5.1
decorator                     5.1.0
defusedxml                    0.7.1
dill                          0.3.7
distlib                       0.3.6
docutils                      0.18.1
earthengine-api               0.1.335
ee-extra                      0.0.14
eerepr                        0.0.4
emoji                         2.1.0
entrypoints                   0.3
esbonio                       0.13.1
et-xmlfile                    1.1.0
etils                         0.8.0
exceptiongroup                1.1.3
fastapi                       0.103.1
ffmpeg                        1.4
ffmpeg-python                 0.2.0
ffmpy                         0.3.1
filelock                      3.12.0
flatbuffers                   2.0.7
folium                        0.14.0
fonttools                     4.33.3
frozenlist                    1.4.0
fsspec                        2023.6.0
future                        0.18.2
gast                          0.4.0
gdown                         4.6.0
geeadd                        0.5.6
geemap                        0.19.1
geocoder                      1.38.1
geographiclib                 2.0
geojson                       2.5.0
geolib                        1.0.7
geopy                         2.3.0
git-python                    1.0.3
gitdb                         4.0.9
GitPython                     3.1.27
glcontext                     2.4.0
global-land-mask              1.0.0
google-api-core               2.11.0
google-api-python-client      2.71.0
google-auth                   2.15.0
google-auth-httplib2          0.1.0
google-auth-oauthlib          0.4.6
google-cloud-core             2.3.2
google-cloud-storage          2.7.0
google-crc32c                 1.5.0
google-pasta                  0.2.0
google-resumable-media        2.4.0
googleapis-common-protos      1.56.4
grpcio                        1.48.1
h11                           0.9.0
h2                            3.2.0
h5py                          3.7.0
holoviews                     1.17.1
hpack                         3.0.0
hstspreload                   2022.10.1
html5lib                      1.1
httpcore                      0.9.1
httplib2                      0.21.0
httpx                         0.13.3
hvplot                        0.8.4
hyperframe                    5.2.0
hyperlink                     21.0.0
idna                          2.10
imageio                       2.21.2
imagesize                     1.4.1
importlib-metadata            6.8.0
importlib-resources           5.9.0
incremental                   21.3.0
inquirer                      3.1.3
ipyevents                     2.0.1
ipyfilechooser                0.6.0
ipykernel                     6.6.0
ipyleaflet                    0.17.1
ipython                       7.30.1
ipython-genutils              0.2.0
ipytree                       0.2.2
ipywidgets                    7.6.5
isosurfaces                   0.1.0
itemadapter                   0.7.0
itemloaders                   1.0.6
jdcal                         1.4.1
jedi                          0.18.1
Jinja2                        3.0.3
jinxed                        1.2.0
jmespath                      1.0.1
joblib                        1.1.0
jplephem                      2.17
jsonschema                    4.3.3
jupyter                       1.0.0
jupyter-client                7.1.0
jupyter-console               6.4.0
jupyter-core                  4.9.1
jupyterlab-pygments           0.1.2
jupyterlab-widgets            1.0.2
keras                         2.10.0
keras-cv                      0.3.3
Keras-Preprocessing           1.1.2
keyring                       23.8.2
kiwisolver                    1.4.3
libclang                      14.0.6
libretranslatepy              2.1.1
linkify-it-py                 2.0.2
llvmlite                      0.39.0
locket                        1.0.0
logzero                       1.7.0
lxml                          4.9.1
manim                         0.17.3
ManimPango                    0.4.3
mapbox-earcut                 1.0.1
Markdown                      3.4.1
markdown-it-py                3.0.0
MarkupSafe                    2.1.1
matplotlib                    3.6.2
matplotlib-inline             0.1.6
mdit-py-plugins               0.4.0
mdurl                         0.1.2
mglearn                       0.1.9
mistune                       0.8.4
moderngl                      5.8.2
moderngl-window               2.4.4
more-itertools                8.14.0
multidict                     6.0.4
multipledispatch              1.0.0
multiprocess                  0.70.15
mypy-extensions               0.4.3
nbclient                      0.5.9
nbconvert                     6.3.0
nbformat                      5.1.3
nest-asyncio                  1.5.4
networkx                      2.8.8
nltk                          3.7
notebook                      6.4.6
numba                         0.56.0
numpy                         1.22.4
oauthlib                      3.2.1
open-interpreter              0.1.0
openai                        0.27.10
opencv-python                 4.6.0.66
openpyexcel                   2.5.14
openpyxl                      3.0.10
opt-einsum                    3.3.0
orjson                        3.9.7
packaging                     21.3
pandas                        1.4.4
pandas-stubs                  1.5.2.221124
pandocfilters                 1.5.0
panel                         1.2.3
param                         1.13.0
parsel                        1.6.0
parso                         0.8.3
partd                         1.4.1
pathspec                      0.9.0
phonenumbers                  8.12.54
pickleshare                   0.7.5
Pillow                        9.2.0
pip                           22.3.1
platformdirs                  3.5.1
playsound                     1.3.0
plotly                        5.10.0
poliastro                     0.17.0
prometheus-client             0.12.0
promise                       2.3
prompt-toolkit                3.0.24
Protego                       0.2.1
protobuf                      3.19.5
pyarrow                       9.0.0
pyasn1                        0.4.8
pyasn1-modules                0.2.8
pycairo                       1.24.0
pycountry                     22.3.5
pycparser                     2.21
PyCristoforo                  2.0.0
PyCRS                         1.0.2
pyct                          0.5.0
pydantic                      1.8.2
pydeck                        0.8.0b3
PyDispatcher                  2.0.6
pydub                         0.25.1
pyerfa                        2.0.0.1
pyglet                        2.0.9
pygls                         0.11.3
Pygments                      2.16.1
Pympler                       1.0.1
pyOpenSSL                     22.0.0
pyparsing                     3.0.6
pyproj                        3.3.1
pyreadline3                   3.4.1
pyrr                          0.10.3
pyrsistent                    0.18.0
pyshp                         2.3.0
PySocks                       1.7.1
pyspellchecker                0.6.3
python-box                    6.1.0
python-dateutil               2.8.2
python-editor                 1.0.4
python-multipart              0.0.6
pytz                          2022.1
pytz-deprecation-shim         0.1.0.post0
pyviz_comms                   3.0.0
pyvo                          1.3
pywin32                       303
pywin32-ctypes                0.2.0
pywinpty                      1.1.6
PyYAML                        6.0
pyzmq                         22.3.0
qtconsole                     5.2.2
QtPy                          2.0.0
queuelib                      1.6.2
ratelim                       0.1.6
readchar                      4.0.5
regex                         2022.9.13
requests                      2.28.1
requests-file                 1.5.1
requests-oauthlib             1.3.1
rfc3986                       1.5.0
rich                          13.5.2
rsa                           4.9
sankee                        0.2.1
scikit-learn                  1.0.2
scipy                         1.8.0
scooby                        0.7.0
Scrapy                        2.6.2
screeninfo                    0.8.1
seaborn                       0.11.2
semantic-version              2.10.0
semver                        2.13.0
Send2Trash                    1.8.0
service-identity              21.1.0
setuptools                    65.3.0
sgp4                          2.21
Shapely                       1.8.2
six                           1.16.0
skia-pathops                  0.7.4
skyfield                      1.45
smmap                         5.0.0
sniffio                       1.3.0
snowballstemmer               2.2.0
soupsieve                     2.3.2.post1
Sphinx                        5.0.2
sphinxcontrib-applehelp       1.0.2
sphinxcontrib-devhelp         1.0.2
sphinxcontrib-htmlhelp        2.0.0
sphinxcontrib-jsmath          1.0.1
sphinxcontrib-qthelp          1.0.3
sphinxcontrib-serializinghtml 1.1.5
srt                           3.5.3
starlette                     0.27.0
streamlit                     1.12.2
svgelements                   1.9.6
tenacity                      8.0.1
tensorboard                   2.10.0
tensorboard-data-server       0.6.1
tensorboard-plugin-wit        1.8.1
tensorflow                    2.10.0
tensorflow-datasets           4.6.0
tensorflow-estimator          2.10.0
tensorflow-io-gcs-filesystem  0.27.0
tensorflow-metadata           1.10.0
termcolor                     2.0.1
terminado                     0.12.1
testpath                      0.5.0
textblob                      0.17.1
Theano                        1.0.5
threadpoolctl                 3.1.0
tiktoken                      0.4.0
tldextract                    3.3.1
tokenizers                    0.12.1
tokentrim                     0.1.6
toml                          0.10.2
tomli                         2.0.1
toolz                         0.12.0
torch                         1.12.1
tornado                       6.1
tqdm                          4.64.1
trackpy                       0.5.0
traitlets                     5.1.1
traittypes                    0.2.1
transformers                  4.22.1
translate                     3.6.1
translator                    0.0.9
Twisted                       22.8.0
twisted-iocpsupport           1.0.2
typeguard                     2.13.3
types-pytz                    2022.6.0.1
typing_extensions             4.8.0
tzdata                        2022.2
tzlocal                       4.2
uc-micro-py                   1.0.2
uritemplate                   4.1.1
urllib3                       1.26.9
uvicorn                       0.23.2
validators                    0.20.0
virtualenv                    20.23.0
virtualenvwrapper-win         1.2.7
w3lib                         2.0.1
watchdog                      2.1.9
wcwidth                       0.2.5
webencodings                  0.5.1
websockets                    11.0.3
Werkzeug                      2.2.2
wget                          3.2
wheel                         0.37.1
whisper                       1.0
whitebox                      2.2.0
whiteboxgui                   2.2.0
widgetsnbextension            3.5.2
wrapt                         1.14.1
xarray                        2022.6.0
xgboost                       1.7.1
xxhash                        3.3.0
xyzservices                   2022.6.0
yarl                          1.9.2
zipp                          3.8.1
zope.interface                5.4.0
